.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .grid-item {
    font-size: 18px;
    line-height: 10px;
    text-align: center;
    padding-top: 30px;
    padding-right:30px;
    padding-bottom:30px;
    padding-left:30px;
  }
  .beverages {
      padding-left: 150px;
  }
  table, td { 
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 0px 5px 10px;
}
  table, th {
    padding: 5px 0px 5px 10px;
    background-color: pink;
     }
    tbody tr:nth-child(even) { 
    background-color: lemonchiffon; 
    } 
    tbody tr:nth-child(odd) { 
    background-color: pink; 
    }